* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2e13;
  color: #000;
  height: 100dvh;
  font-family: "Poppins", sans-serif;
}

.landing__intro {
  height: 90%;
  width: calc(100% - 40px);
  margin: 20px;
  border-radius: 40px;
  display: flex;
  background-color: #f7fc85;
  position: relative;
  overflow: hidden;
}

.landing__intro-image {
  width: 550px;
  position: absolute;
  bottom: -20%;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
}

.landing__intro-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 40px 40px 40px;
  margin: 0 auto;
}

.landing__intro-name {
  font-size: 15rem;
  letter-spacing: -20px;
  text-align: center;
  font-weight: 900;
  width: 100%;
  margin-block: 0;
  margin-inline: 0;
  margin-top: -40px;
}

.landing__intro-text-wrapper {
  text-wrap: pretty;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.landing__intro-text-wrapper[data-direction="col"] {
  gap: 5px;
  flex-direction: column;
}

.landing__intro-social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  list-style: none;
}

.landing__intro-social-list__item a {
  text-decoration: none;
  padding: 10px;
  background-color: #000;
  border-radius: 999px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing__intro-text-wrapper p {
  max-width: 300px;
  text-align: left;
  font-weight: 500;
  font-size: 1.1rem;
}

.landing__intro-text-wrapper[data-alignment="right"] {
  justify-content: flex-end;
}

.landing__intro-text-wrapper p[data-align="right"] {
  text-align: right;
}
