* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1f2e13;
  color: #000;
  height: 100dvh;
  font-family: "Poppins", sans-serif;
}

.landing__intro {
  height: 90%;
  width: calc(100% - 40px);
  margin: 20px;
  border-radius: 40px;
  display: flex;
  background-color: #f7fc85;
  position: relative;
  overflow: hidden;
}

.landing__intro-image {
  width: 550px;
  position: absolute;
  bottom: -20%;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
}

.landing__intro-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 40px 40px 40px;
  margin: 0 auto;
}

.landing__intro-name {
  font-size: 15rem;
  letter-spacing: -20px;
  text-align: center;
  font-weight: 900;
  width: 100%;
  margin-block: 0;
  margin-inline: 0;
  margin-top: -40px;
}

.landing__intro-text-wrapper {
  text-wrap: pretty;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.landing__intro-text-wrapper[data-direction="col"] {
  gap: 5px;
  flex-direction: column;
}

.landing__intro-social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  list-style: none;
}

.landing__intro-social-list__item a {
  text-decoration: none;
  padding: 10px;
  background-color: #000;
  border-radius: 999px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing__intro-text-wrapper p {
  max-width: 300px;
  text-align: left;
  font-weight: 500;
  font-size: 1.1rem;
}

.landing__intro-text-wrapper[data-alignment="right"] {
  flex-direction: column;
  align-items: flex-end;
}

.landing__intro-text-wrapper p[data-align="right"] {
  text-align: right;
}

.nav {
  margin-top: 20px;
  width: 100%;
}

.nav__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.nav__list-item a {
  text-decoration: none;
  color: #f2fa9b;
}

.section__about {
  width: calc(100% - 40px);
  margin-top: 100px;
}

.section__about-container {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.section__about h2 {
  font-size: 8rem;
  color: #f2fa9b;
  grid-column: 1;
  grid-row: 1;
}

.section__about p {
  font-weight: 400;
  font-size: 1.1rem;
  color: #f2fa9b;
  grid-column: 2;
  grid-row: 2;
  text-wrap: pretty;
}

.section__work {
  width: calc(100% - 40px);
  margin-top: 100px;
}

.section__work-container {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 1200px;
}

.section__work h2 {
  font-size: 8rem;
  color: #f2fa9b;
  text-align: right;
}

.section__work-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.section__work-wrapper p {
  font-weight: 400;
  font-size: 1.1rem;
  color: #f2fa9b;
  max-width: 320px;
  text-align: right;
}

.section__work-timeline {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #f2fa9b;
  border-radius: 20px;
  gap: 50px;
  padding: 40px 60px;
  color: #000;
}

.section__work-timeline span {
  font-weight: 600;
  font-size: 1.2rem;
}

.section__work-timeline-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__work-timeline-description p {
  font-weight: 400;
  font-size: 1.1rem;
}

.section__hobbies {
  width: calc(100% - 40px);
  margin-top: 100px;
}

.section__hobbies-container {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.section__hobbies-container h2 {
  font-size: 8rem;
  color: #f2fa9b;
  grid-column: 2;
  grid-row: 1;
}

.section__hobbies-container p {
  font-weight: 400;
  font-size: 1.1rem;
  color: #f2fa9b;
  grid-column: 1;
  grid-row: 2;
  text-wrap: pretty;
}

.section__hobbies-images {
  margin: 0 auto;
  margin-top: 90px;
  max-width: 1200px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.section__hobbies-images img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}
